# Manipulación Basica de nuestro DataFrame
------------------------

En esta sección aprenderemos a manipular nuestro dataframe con el fin de poder crear automatizaciones sobre nuestros datos

In [2]:
# Para esta seccion iniciaremos cargando nuestra data

import pandas as pd

df = pd.read_csv('./src/winemag-data-130k-v2.csv')
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [3]:
df.shape

(65499, 14)

In [4]:
df.dtypes

Unnamed: 0                 int64
country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

## 1. Manipulación Basica de nuestro DataFrame

### 1.1 Seleccion de Columnas

In [5]:
df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [6]:
# Seleccion de una columna
df['country'].head()

0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object

In [7]:
# tambien es posible la seleccion de este modo
df.country.head()

0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object

In [8]:
# Selección de múltiples columnas

# emplearemos una lista
columns_select = ['country','province']
df_subset = df[columns_select]
df_subset.head()

    country           province
0     Italy  Sicily & Sardinia
1  Portugal              Douro
2        US             Oregon
3        US           Michigan
4        US             Oregon

In [9]:
# renombrado de columnas

# {'old_colname': 'new_colname'}
df_rename = df.rename(columns={'Unnamed: 0': 'index'})
df_rename.head(2)

,index,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [10]:
# Eliminando columna
df_drop= df_rename.drop(['index'], axis=1)

df_drop.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [12]:
# unique quita duplicados para una sola columna y te devuelve una lista
df_drop.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

### 1.2 Aplicando Filtros

Podemos filtrar un dataframe mediante condiciones booleanas sobre columnas

In [13]:
# condicion -> se encarga de establecer la condicion de Verdad o Falsedad 
condicion = (df['country'] == 'Peru')
condicion.head()

0    False
1    False
2    False
3    False
4    False
Name: country, dtype: bool

In [14]:
# usando la condicion como filtro
df_filter = df_drop[condicion]
df_filter.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
6565,Peru,Aromas of freshly laid asphalt and char-grille...,Valle del Sol,85,14.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Intipalka 2013 Valle del Sol Tannat (Ica),Tannat,Intipalka
13090,Peru,"Roasted and earthy smelling, with a pinch of i...",Halcón de la Viña,85,15.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Tacama 2008 Halcón de la Viña Malbec (Ica),Malbec,Tacama

In [15]:
df_filter.shape

(8, 13)

In [16]:
df_filter.head(10)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
6565,Peru,Aromas of freshly laid asphalt and char-grille...,Valle del Sol,85,14.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Intipalka 2013 Valle del Sol Tannat (Ica),Tannat,Intipalka
13090,Peru,"Roasted and earthy smelling, with a pinch of i...",Halcón de la Viña,85,15.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Tacama 2008 Halcón de la Viña Malbec (Ica),Malbec,Tacama
14727,Peru,Apple and citrus aromas struggle to hold it to...,Gran Blanco,82,10.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Tacama 2010 Gran Blanco White (Ica),White Blend,Tacama
14732,Peru,"Hot and leathery up front, with stewy notes an...",Gran Tinto,81,10.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Tacama 2009 Gran Tinto Red (Ica),Red Blend,Tacama
23537,Peru,Earthy plum and blackberry aromas are crisp an...,Valle del Sol Reserva,85,17.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Intipalka 2012 Valle del Sol Reserva Malbec-Me...,Malbec-Merlot,Intipalka
37948,Peru,"At first, this blend of Cabernet Sauvignon, Ta...",Valle del Sol No 1 Gran Reserva,85,68.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Intipalka 2010 Valle del Sol No 1 Gran Reserva...,Red Blend,Intipalka
63521,Peru,"Earthy, warm and ripe on the bouquet, with a b...",Sinfonía Tannat-Malbec-Petit Verdot,86,20.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Tacama 2008 Sinfonía Tannat-Malbec-Petit Verdo...,Red Blend,Tacama
64672,Peru,Applesauce aromas are sweet and dusty. Then in...,Semi-Seco Blanco,83,10.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Tacama 2010 Semi-Seco Blanco White (Ica),White Blend,Tacama

In [19]:
# método unique me brinda valores únicos de columna
df_drop.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

In [17]:
df_filter.country.unique()

array(['Peru'], dtype=object)

podemos concatenar varias condiciones usando `&` para **AND** ,  `|` para **OR** y `~` como **NOT** o negacion.

Tambien debemos recordar los operadores: `==` , `!=` , `>`, `<` , `>=` , `<=`

In [20]:
condicion  = (df.country=="Italy") & (df.points>=90)
df_drop[condicion].head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
133,Italy,"Einaudi's wines have been improving lately, an...",NaN,91,68.0,Piedmont,Barolo,NaN,NaN,NaN,Poderi Luigi Einaudi 2003 Barolo,Nebbiolo,Poderi Luigi Einaudi
135,Italy,The color is just beginning to show signs of b...,Sorano,91,60.0,Piedmont,Barolo,NaN,NaN,NaN,Giacomo Ascheri 2001 Sorano (Barolo),Nebbiolo,Giacomo Ascheri
140,Italy,"A big, fat, luscious wine with plenty of toast...",Costa Bruna,90,26.0,Piedmont,Barbera d'Alba,NaN,NaN,NaN,Poderi Colla 2005 Costa Bruna (Barbera d'Alba),Barbera,Poderi Colla

In [21]:
# valores únicos de columnas
# el unique solo devuelve valores únicos de una columna, para más de una columna se emplea el drop_duplicates
df_var = df_filter[['country','winery','variety']].drop_duplicates(subset=['country','winery','variety'])
df_var

      country     winery        variety
6565     Peru  Intipalka         Tannat
13090    Peru     Tacama         Malbec
14727    Peru     Tacama    White Blend
14732    Peru     Tacama      Red Blend
23537    Peru  Intipalka  Malbec-Merlot
37948    Peru  Intipalka      Red Blend

Para ver más formas de filtrado [ver](https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9)

In [ ]:
chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://antonio-richaud.com/biblioteca/archivo/Tecnicas-de-filtrado-de-datos-con-pandas/Tecnicas-de-filtrado-de-datos-con-pandas.pdf

### 1.3 Aplicación de lógicas a nuestros DataFrame

Podemos aplicar lógicas o añadir constantes a nuestros dataFrames.

In [22]:
df_drop.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [23]:
# se pueden realizar operaciones básicas a columnas aplicando lógicas
# Generacion de constantes

# df [nueva_columna] = valor
df_drop['ajuste_precio'] = 1.2
df_drop.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,ajuste_precio
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1.2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1.2
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,1.2
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,1.2
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.2

In [24]:
# Operaciones como suma , resta, multiplicacion de columnas son validas
df_drop['new_price'] = df_drop.price * df_drop.ajuste_precio
df_drop.head(6)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,ajuste_precio,new_price
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1.2,NaN
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1.2,18.0
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,1.2,16.8
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,1.2,15.6
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.2,78.0
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem,1.2,18.0

podemos usar `apply` en una columna para obtener una nueva columna en función de sus valores

In [25]:
df_drop.describe()

             points         price  ajuste_precio     new_price
count  65499.000000  60829.000000   6.549900e+04  60829.000000
mean      88.434037     35.232932   1.200000e+00     42.279518
std        3.030310     39.477858   4.440926e-16     47.373429
min       80.000000      4.000000   1.200000e+00      4.800000
25%       86.000000     17.000000   1.200000e+00     20.400000
50%       88.000000     25.000000   1.200000e+00     30.000000
75%       91.000000     42.000000   1.200000e+00     50.400000
max      100.000000   2500.000000   1.200000e+00   3000.000000

In [26]:
# df_rename.price.unique()

# Según el precio de la botella de vino aplicar una etiqueta
# Si precio <100 -> Precio accesible
# SI precio >=100 and precio <=500 -> 'vino es moderadamente costoso'
# Si precio >500 -> 'muy caro'

def etiqueta_precio(precio:float):

    if precio<100:
        return 'Precio accesible'
    elif precio <=500 and precio >=100:
        return 'Precio moderadamente alto'
    elif precio >500:
        return 'Precio muy caro'
    else:
        return None

etiqueta_precio(1500)

'Precio muy caro'

In [27]:
df_drop['etiqueta_precio'] = df_drop.price.apply(etiqueta_precio)

df_drop.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,ajuste_precio,new_price,etiqueta_precio
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1.2,NaN,None
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1.2,18.0,Precio accesible
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,1.2,16.8,Precio accesible
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,1.2,15.6,Precio accesible
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.2,78.0,Precio accesible

In [28]:
# aplicando lógicas mediante funciones

def incremento_precio_por_pais(row):
    if row.country == 'Italy':
        return row.price *1.5
    else:
        return row.price


df_drop['price_by_country'] = df_drop.apply(incremento_precio_por_pais, axis='columns')

In [29]:
df_drop[['country', 'price', 'price_by_country']].head(20)

      country  price  price_by_country
0       Italy    NaN               NaN
1    Portugal   15.0              15.0
2          US   14.0              14.0
3          US   13.0              13.0
4          US   65.0              65.0
5       Spain   15.0              15.0
6       Italy   16.0              24.0
7      France   24.0              24.0
8     Germany   12.0              12.0
9      France   27.0              27.0
10         US   19.0              19.0
11     France   30.0              30.0
12         US   34.0              34.0
13      Italy    NaN               NaN
14         US   12.0              12.0
15    Germany   24.0              24.0
16  Argentina   30.0              30.0
17  Argentina   13.0              13.0
18      Spain   28.0              28.0
19         US   32.0              32.0

In [30]:
df_drop.to_excel('./output/wine_review.xlsx', index=False)

In [ ]:
# df_drop['rendimiento']= (df_drop['new_price'] - df_drop.price)/df_drop.price

# subset = ['country','price','new_price','rendimiento']
# df_drop[subset].head()

https://www.kaggle.com/code/residentmario/indexing-selecting-assigning


https://www.kaggle.com/code/residentmario/summary-functions-and-maps

In [31]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {
    'periodo': ['2023Q1', '2023Q2', '2023Q3', '2023Q4', '2024Q1', '2023Q1', '2023Q2', '2023Q3', '2023Q4', '2024Q1'],
    'producto': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B'],
    'precio': [100, 105, 110, 115, 120, 200, 195, 190, 185, 180]
}
df = pd.DataFrame(data)

df

  periodo producto  precio
0  2023Q1        A     100
1  2023Q2        A     105
2  2023Q3        A     110
3  2023Q4        A     115
4  2024Q1        A     120
5  2023Q1        B     200
6  2023Q2        B     195
7  2023Q3        B     190
8  2023Q4        B     185
9  2024Q1        B     180

In [32]:
# Asegurarse de que los datos estén ordenados por 'producto' y 'periodo'
df = df.sort_values(by=['producto', 'periodo'])

# Crear la nueva columna 'precio_periodo_t-1' particionando por 'producto'
df['precio_periodo_t-1'] = df.groupby('producto')['precio'].shift(1)

# Mostrar el DataFrame resultante
df

  periodo producto  precio  precio_periodo_t-1
0  2023Q1        A     100                 NaN
1  2023Q2        A     105               100.0
2  2023Q3        A     110               105.0
3  2023Q4        A     115               110.0
4  2024Q1        A     120               115.0
5  2023Q1        B     200                 NaN
6  2023Q2        B     195               200.0
7  2023Q3        B     190               195.0
8  2023Q4        B     185               190.0
9  2024Q1        B     180               185.0

# Ejercicios
---------------------------------------------

In [33]:
# Me solicitan generar un archivo excel por cada uno de los paises en el archivo 'wine_review'
import pandas as pd

df_wine = pd.read_excel('./output/wine_review.xlsx')
df_wine.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,ajuste_precio,new_price,etiqueta_precio,price_by_country
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1.2,NaN,NaN,NaN

In [34]:
df_wine.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

In [41]:
df_wine[df_wine.country.notna()]['country'].unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', 'Turkey', 'Czech Republic', 'Slovenia', 'Luxembourg',
       'Croatia', 'Georgia', 'Uruguay', 'England', 'Lebanon', 'Serbia',
       'Brazil', 'Moldova', 'Morocco', 'Peru', 'India', 'Bulgaria',
       'Cyprus', 'Armenia', 'Switzerland', 'Bosnia and Herzegovina',
       'Ukraine', 'Slovakia', 'Macedonia'], dtype=object)

In [43]:
for pais in df_wine[df_wine.country.notna()]['country'].unique():
    pais_report = pais.lower().replace(' ', '_')
    
    # filtrar
    condition = (df_wine.country == pais)
    df_filter = df_wine[condition]

    # escribir
    df_filter.to_excel(f'./output/reportes/{pais_report}.xlsx', sheet_name=pais_report, index=False)
    print(f'Se genero el reporte para el pais: {pais}')

print('Proceso Finalizado ...')

Se genero el reporte para el pais: Italy
Se genero el reporte para el pais: Portugal
Se genero el reporte para el pais: US
Se genero el reporte para el pais: Spain
Se genero el reporte para el pais: France
Se genero el reporte para el pais: Germany
Se genero el reporte para el pais: Argentina
Se genero el reporte para el pais: Chile
Se genero el reporte para el pais: Australia
Se genero el reporte para el pais: Austria
Se genero el reporte para el pais: South Africa
Se genero el reporte para el pais: New Zealand
Se genero el reporte para el pais: Israel
Se genero el reporte para el pais: Hungary
Se genero el reporte para el pais: Greece
Se genero el reporte para el pais: Romania
Se genero el reporte para el pais: Mexico
Se genero el reporte para el pais: Canada
Se genero el reporte para el pais: Turkey
Se genero el reporte para el pais: Czech Republic
Se genero el reporte para el pais: Slovenia
Se genero el reporte para el pais: Luxembourg
Se genero el reporte para el pais: Croatia
Se genero el reporte para el pais: Georgia
Se genero el reporte para el pais: Uruguay
Se genero el reporte para el pais: England
Se genero el reporte para el pais: Lebanon
Se genero el reporte para el pais: Serbia
Se genero el reporte para el pais: Brazil
Se genero el reporte para el pais: Moldova
Se genero el reporte para el pais: Morocco
Se genero el reporte para el pais: Peru
Se genero el reporte para el pais: India
Se genero el reporte para el pais: Bulgaria
Se genero el reporte para el pais: Cyprus
Se genero el reporte para el pais: Armenia
Se genero el reporte para el pais: Switzerland
Se genero el reporte para el pais: Bosnia and Herzegovina
Se genero el reporte para el pais: Ukraine
Se genero el reporte para el pais: Slovakia
Se genero el reporte para el pais: Macedonia
Proceso Finalizado ...